{% extends "curso/layout.html" %}

{% block content %}

    <div class="lista">
        <h1 class="titulo">Disciplinas</h1>
        <a href="{% url 'curso:novo_curso' %}" class="btn-novo">Novo Disciplina</a>
        <br><br>
        {% if disciplinas %}
            <div class="album-container">
                {% for disciplina in disciplinas %}
                    <div class="album-item">
                        <h3 class="txt">{{ disciplina.nome }}</h3>
                        <a href="{% url 'curso:apaga_disciplina' disciplina.nome %}" class="apagar">Apagar Disciplina</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2 class="titulo">Não há disciplinas disponíveis.</h2>
        {% endif %}
    </div>
{% endblock %}
