{% extends 'curso/layout.html' %}

{% block content %}

    <div class="content">
        <div class="form">
            <h3 class="tit">Novo Docente</h3>
            <br>

            <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <br>
                    <button class="criar" type="submit">Criar Docente</button>
            </form>
        </div>
    </div>

{% endblock %}