{% extends "bandas/layout.html" %}

{% block content %}
    <style>
        .user-div{
            text-align: center;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 20px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 250px);
            gap: 20px;
            margin: 20px;
        }

        .image {
            max-width: 100%;
            height: auto;
            margin: 10px;
        }

        .image img {
            max-width: 100%;
            height: auto;
        }

        .image img:hover {
            max-width: 100%;
            height: auto;
            transform:scale(1.1);
        }

        .description {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

    </style>

    <div class="user-div">
        {% if request.user.is_authenticated %}
            Bem-vindo :  {{request.user.username}} - {{request.user.first_name}}
            <br>
            {% if is_member %}
                <div class="grid-container">
                    <div class="image">
                        <a href="{% url 'bandas:edit_albuns' %}">
                            <img src="/static/bandas/imgs/albuns.jpg" alt="albuns">
                        </a>
                        <div class="description">
                            <h2>Edit - Álbuns</h2>
                        </div>
                    </div>
                    <div class="image">
                        <a href="{% url 'bandas:edit_bandas' %}">
                            <img src="/static/bandas/imgs/bandas.jpg" alt="bandas">
                        </a>
                        <div class="description">
                            <h2>Edit - Bandas</h2>
                        </div>
                    </div>
                    <div class="image">
                        <a href="{% url 'bandas:edit_musicas' %}">
                            <img src="/static/bandas/imgs/music.jpg" alt="musicas">
                        </a>
                        <div class="description">
                            <h2>Edit - Músicas</h2>
                        </div>
                    </div>
                </div>
            {% else %}
                Você não tem permissão para acessar este conteúdo.
            {% endif %}

        {% else %}
            Ainda não iniciou sessão, porfavor faça-o para poder aceder ao conteúdo desta página
        {% endif %}
    </div>
{% endblock %}
