<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/artigos/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observa</title>
</head>
<body>
    <header>
        <h1 class="">Observa</h1>
    </header>

    <main>
        <a href="{% url 'artigos:artigos' %}">
            <button class="btn-entrar">Entrar</button>
        </a>
    </main>

    <footer>
        <p class="txt-1">&copy; 2024 Rodigo Dias, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>
</body>
</html>